<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- The serviceAuthorization behavior sets the  
           principalPermissionMode to UseWindowsGroups.  
           This puts a WindowsPrincipal on the current thread when a   
           service is invoked. -->
          <serviceAuthorization principalPermissionMode="UseWindowsGroups" />
        </behavior>
        <behavior name="debug">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="AsyncStreaming">
          <dispatcherSynchronization asynchronousSendEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="TransportSecurity">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="StreamBinding"
                 transferMode="StreamedResponse"
                 closeTimeout="04:01:00"
                 openTimeout="04:01:00"
                 receiveTimeout="04:10:00"
                 sendTimeout="04:01:00"
                 maxBufferSize="65536"
                 maxReceivedMessageSize="2147483647">
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="BackupService.Services.GeneralService" behaviorConfiguration="debug">
        <endpoint address=""
                  binding="netTcpBinding"
                  bindingConfiguration="TransportSecurity"
                  contract="BackupService.Services.IGeneralService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://0.0.0.0:8733/General/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="BackupService.Services.BackupService" behaviorConfiguration="debug">
        <endpoint address=""
                  binding="netTcpBinding"
                  bindingConfiguration="TransportSecurity"
                  contract="BackupService.Services.IBackupService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://0.0.0.0:8733/Backup/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="BackupService.Services.StreamService">
        <endpoint address=""
                  binding="netTcpBinding"
                  bindingConfiguration="StreamBinding"
                  behaviorConfiguration="AsyncStreaming"
                  contract="BackupService.Services.IStreamService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://0.0.0.0:8734/Streaming/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="sdt" type="System.Diagnostics.XmlWriterTraceListener" initializeData="SdrConfigExample.e2e"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
